@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
    --bg-color: #1a202c;
    --text-color: #c7cbcf;
  }
  
  .light {
    --bg-color: #ffffff;
    --text-color: #1a202c;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }